.dotDiv {
	display: inline-block;
  	vertical-align: top;
  	height: 12px;
  	width: 12px;
  	position: relative;
}

.bigDotBlack {
	height: 12px;
	width: 12px;
	background-color: #000000;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bigDotHidden {
	height: 12px;
	width: 12px;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dotBlack {
  height: 8px;
  width: 8px;
  background-color: #000000;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dotWhite {
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.miniDot {
	height: 5px;
	width: 5px;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.miniDotBlack {
	height: 5px;
	width: 5px;
    background-color: #000000;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.miniDotWhite {
	height: 5px;
	width: 5px;
    background-color: #ffffff;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}