.contentEditableDiv {
	display: inline-block;
	vertical-align: top;
    position: relative;
    left: 6px;
    bottom: 3px;
    padding-right: 1px;
    /* max-width is calculated as the width of the item subtracted by the width of the dot, 6px with plus left/right border of 1px each side */
    max-width: calc(100% - 12px);
}