.back {
  background: #e2e2e2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.center {
  border-radius: 0 0 15px 15px;
  width: 300px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 1em 0 1em;
  border-bottom: 2px solid #ccc;
  display: table;
  font-family: Arimo;
}

.content {
  display: block;
  margin-top: 20%;
  margin-bottom: 20%;

}

.formcontrol {
  width: 100%;
  font-family: Arimo;
  font-size: 20px;
  margin-top: 10;
}

.logo {
  display: block;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.formLabels {
  display: none;
}

.sbmtBtn {
  width: 100%;
  background: #e3e1df;
  color: #8e8e8e;
  padding: 10px;
  font-family: Arimo;
  font-size: 18px;
}

.sbmtBtnDiv {;
  text-align: center;
  display: block;
  margin-top: 10;
}

.btnDiv {
  text-align: center;
  display: block;
  margin-top: -33;
  margin-left: -16;
  margin-right: -16;
  border-radius: 10px 10px 0 0;
}

.selectedBtnDiv {
  display: inline-block;
  width: 33.33333%;
  background: white;
  border-radius: 10px 10px 0 0;
}

.unselectedBtnDiv {
  display: inline-block;
  width: 33.33333%;
  background: #B4BCC9;
  border-radius: 10px 10px 0 0;
}

.testBtnDiv {
  display: inline-block;
  width: 33.33333%;
  background: #DADEE4;
  border-radius: 10px 10px 0 0;
}

.inUpSwitch {
  color: #8e8e8e; 
  background: transparent;
  /*border: 2px solid #0099CC;*/
  border-radius: 10px; 
  width: 100%;
  padding: 10;
  border: none;
  font-family: 'Arimo';
  font-size: 18px;
}

.inUpSwitch:hover {
  cursor: pointer;
}

