.itemTextInput {
	border: none;
    background-color: inherit;
    font: 20px arial, sans-serif;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 300px;
}

.selected {
	background-color: inherit;
	font: 20px arial, sans-serif;
	border-color: red;
	padding: 14px 28px;
	display: inline-block;
	width: 300px;
}

.bullet{
	display: inline-block;
}

.fulldiv{
	display: inline-block;
	outline: none;
	width: 100%;
}

:focus{
	outline: none;
}

input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.divcheckboxchecked {
	position: relative;
	vertical-align: top;
	top: 23px;
	display: inline-block;
	background: black;
	width: 6px;
	height: 6px;
	border: 1px;
	border-style: solid;
	border-color: black;
}


.divcheckboxunchecked {
	position: relative;
	vertical-align: top;
	top: 23px;
	display: inline-block;
    background: white;
	width: 6px;
	height: 6px;
	border: 1px;
	border-style: solid;
	border-color: black;
}

.divcollapsedcheckboxchecked {
	position: relative;
	vertical-align: top;
	top: 18px;
	display: inline-block;
	background: black;
	width: 12px;
	height: 12px;
	border: 2px;
	border-style: solid;
	border-color: black;
}

.divcollapsedcheckboxunchecked {
	position: relative;
	vertical-align: top;
	top: 18px;
	display: inline-block;
    background: white;
	width: 12px;
	height: 12px;
	border: 2px;
	border-style: solid;
	border-color: black;
}

.selectedTextArea, .nonSelectedTextArea{
	background-color: inherit;
	font: 20px arial, sans-serif;
	padding: 14px 28px;
	resize: none;
	display: inline-block;
	overflow: hidden;
	width: 100%;
}

.selectedTextArea {
	border: none;
	overflow: hidden;
	background-color: #f2f2f2;
	width: 100%;
}

.nonSelectedTextArea {
	border: none;
}


