.ul {
    display: inline-block; 
    vertical-align: top;
    white-space: nowrap;
    padding-left: 0;
    width: 100%;
}

.hidden {
	display: none;
}

.normal {
	display: block;
}

.div {
    margin-left: 10px;
    margin-right: 10px;

    -webkit-animation: fadein .6s;
}

/*from home*/
.cl {
    display: inline-block;
    vertical-align: top;
    /*width: calc(100% - 348px);*/
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}