.inpt {
	border: none;
    background-color: inherit;
    font: 20px arial, sans-serif;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 300px;
}

.hidden {
	display: none;
}

.normal {
	display: block;
}