.home {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.currentListPosition {
	display: inline-block;
}

.console {
	white-space: nowrap; 
	overflow: auto;
}

.l {
	display: flex;
	margin: auto;
}

.cl {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	/*width: calc(100% - 348px);*/

}