.home {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.allListsPosition {
	display: inline-block;
	width: 200px;
}

.currentListPosition {
	display: inline-block;
}

.console {
	white-space: nowrap; 
	overflow: auto;
}

.l {
	display: inline-block;
	vertical-align: top;
}

.cl {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 348px);
}