.allListsPosition {
	display: inline-block;
	width: 200px;
}

.currentListPosition {
	display: inline-block;
}

.console {
	white-space: nowrap; 
	overflow: auto;
}

.l {
	display: inline-block;
	vertical-align: top;
}

.cl {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 348px);
}