.itemTextInput {
    border: none;
    background-color: inherit;
    font: 20px arial, sans-serif;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 300px;
}

.selected {
    background-color: inherit;
    font: 20px arial, sans-serif;
    border-color: red;
    padding: 14px 28px;
    display: inline-block;
    width: 300px;
}

.focused {
    background-color: inherit;
    font: 20px arial, sans-serif;
    border-color: blue;
    padding: 14px 28px;
    display: inline-block;
    width: 300px;
}

/**************************/

.itemText {
	float: left;
}

.btn {
	border: none;
    background-color: inherit;
    font: 20px arial, sans-serif;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 300px;
    text-align: left;
}

.inpt {
	border: none;
    background-color: inherit;
    font: 20px arial, sans-serif;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 300px;
}

.btnslctd {
    background-color: inherit;
    font: 20px arial, sans-serif;
    border-color: red;
    padding: 14px 28px;
    display: inline-block;
    width: 300px;
    text-align: left;
}

.inptslctd {
    background-color: inherit;
    font: 20px arial, sans-serif;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    width: 300px;
}

/*.
btn:hover {background: #eee;}
*/