.ul {
    padding-left: 0;
    padding-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.itemTextInput {
    border: none;
    background-color: inherit;
    font: 20px arial, sans-serif;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 300px;
}

.selected {
    background-color: inherit;
    font: 20px arial, sans-serif;
    border-color: red;
    padding: 14px 28px;
    display: inline-block;
    width: 300px;
}

.focused {
    background-color: inherit;
    font: 20px arial, sans-serif;
    border-color: blue;
    padding: 14px 28px;
    display: inline-block;
    width: 300px;
}